<h1 class="text-center"><%= @restaurant.name %></h1>

<h2>Reviews</h2>
<% @restaurant.reviews.each do |review| %>
  <br>
  <p><%= "*" * review.rating %></p>
  <p><%= review.content %></p>
  <br>
<% end %>

<br>
<hr>

<%= render "shared/form_review", restaurant: @restaurant, review: @review %>
